#about {
    font-size: 1.1em;
    background: url('../../assets/img/parallex/bg2.jpg');
    background-size: cover;
}
#about h1 {
    color: #fff;
}

.profile {
    max-width: 18em;
}

.my-details {
    background-color: rgba(255, 255, 255, 0.74);
    text-align: justify;
}